@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Lato:wght@400;700&family=Krona+One&display=swap');
@import "tailwindcss";

html, body, #root {
  background-color: #000000; 
  color: white; 
  scroll-behavior: smooth;
}

.companyList {
    animation: infinity 20s linear infinite;
    filter: brightness(95%);
}

@keyframes infinity {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.font-roboto {
  font-family: 'Roboto', sans-serif;
}

.font-lato {
  font-family: 'Lato', sans-serif;
}

.font-krona {
  font-family: 'Krona One', sans-serif;
}
